*{
	box-sizing:border-box;
	background-color:#272734;
}

body{
	color:white;
}

.row2{
	height:72px;
	background-color:#272734;
}

.logo{
	float:left;
	margin-left:70px;
	height:72px;
	width:72px;	
}

.col01{
	float:left;
	height:72px; 
	color: var(--text, #F3F3F3);
	font-size: 40px;
	font-family: Karantina;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	text-transform: capitalize; 
	margin-left:10px;

}

.col02{
	float:right;
	height:30px;
	color:#F3F3F3;
	margin-top:20px;
	margin-left:10px;
}

.col03{
	float:right;
	height:30px;
	color:#F3F3F3;
	margin-top:20px;
	margin-left:10px;	
	background-color:#272734;
}

.row5{
	height:30px;
	background-color:#272734;
	color:#F3F3F3;	
}

.colrow5{
	height:30px;
	float:left;
	margin-left:148px;
}

.row6{
	height:28px;
}

.row_movie1{
	
	margin:auto;
	height:277px;
	margin-top:20px;
	width:960px;
	border-bottom:solid 1px gray;
	margin-bottom:20px;
}

.image_col1{
	height:252px;
	width:200px;	
	float:left;	
	margin-left:10px;

}

.detail_col2{
	height:252px;
	width:728px;
	float:left;	
	margin-left:10px;
	font-size:14px;
	padding-top:5px;
}

.detail_container{
	height:200px;
	width:728px;
	border:solid 1px blue;
}

.Action-row{
	border:solid 1px red;
	width:728px;
	height:40px;
	margin-top:25px;	
}

.action_col{
	border:solid 1px blue;
	width:125px;
	height:40px;
}

.like{
	width:56px;
	height:56px;
	float:left;	
	margin-top:-2px;
}

.Rating{
	float:left;
	width:56px;
	height:56px;

}

.dislike{
	width:56px;
	height:56px;
	float:right;
	margin-top:-58px;
	margin-left:20px;
	margin-right:-12px;
}

.delete{
	border:solid 2px blue;
	width:43px;
	height:43px;
	float:right;
	margin-top:-58px;
}

.row8{
	border:solid 1px red;
	width:1280px;
	height:40px;	
}

.row9{
	border:solid 1px red;
	width:1280px;
	height:40px;
}

.row10{
	border:solid 1px red;
	width:1280px;
	height:40px;
}

.row11{
	border:solid 1px red;
	width:1280px;
	height:46px;
}

.col11{
	border:solid 1px red;
	width:156px;
	height:30px;

}

.col12{
	border:solid 1px red;
	width:658px;
	height:16px;
}

.row12{
	border:solid 1px red;
	width:1280px;
	height:28px;
}

.row13{
	border:solid 1px red;
	width:960px;
	height:1247px;
	margin:auto;	
}
















